.intro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #111827;
  color:  #f9fafb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: rgb(15, 13, 13);
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2563eb;
}

.nav-link {
  margin-left: 2rem;
  text-decoration: none;
  font-weight: 500;
  color: #7f8896;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2563eb;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 5%;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1 1 500px;
  max-width: 600px;
}

.hero-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #eef0f5;

}

.hero-text p {
  font-size: 1rem;
  color: #4b5563;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
}

.btn-primary {
  background: #2563eb;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #2563eb;
  color: #2563eb;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background: #4c7ce5;
  color: white;
}

.hero-image {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


.footer {
  text-align: center;
  padding: 1rem;
  background: #1c1f26;
  color: #6b7280;
  font-size: 0.875rem;
  margin-top: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .cta-buttons {
    justify-content: center;
  }

  .hero-image img {
    margin-bottom: 2rem;
  }
}