.register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.register-container {
  display: flex;
  width: 900px;
  height: 650px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  margin: 12px;
}


.register-image {
  flex: 1;
  background-image: url("./study.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.register-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.image-text {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 80%;
}

.register-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form h2 {
  margin-bottom: 10px;
}

.register-form h3 {
  margin-bottom: 20px;
  font-weight: normal;
  color: #555;
}

.register-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
}

.register-form input:focus {
  border-bottom: 2px solid #007BFF;
}

.register-form button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.register-form button:hover {
  background-color: #555;
}

#google{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google:hover{
    text-decoration: underline;
}

.login-link {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.login-link a {
  color: #007BFF;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}


@media (max-width : 700px){
    .register-image{
        display: none;
    }
}